:root{
    --RobotoFont: Roboto;
    --PlayfairDisplay: Playfair Display;
    --white: hsl(0, 0%, 96%);
}

*{
    font-family: Roboto;
}

body{
    background-image: url("../assets/Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.nameText{
    font-family: var(--PlayfairDisplay);
}

div.Header{
    display: flex;
}


div.aboutSection{
    background-color: var(--white);
}


h1.About{
    font-family: PlayfairDisplay;
    font-weight: 300;
}